<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div>
            {{>header}}
            <p>Data was provided by <a href="https://mapbox.com">Map Box</a> and <a href="https://openweathermap.org">Open Weather Map</a>.</p>
        </div>
        {{>footer}}
    </body>
</html>